    body {
    margin: 0px;
    font-family: Arial;
  }

    .contents-button{
        width:100%;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 40px;
        cursor: pointer;
        text-decoration: none;
    }

    .contents-button:hover{
      color: gray;
    }
    .list{
        list-style-type: none;
    }
  
    .content {
      grid-area: content;
    }
  
    .header {
      grid-area: header;
      width:100%;
      display:fixed;
      top:0;
      border-bottom: 2px solid black;
      
    }
    .top-buttons{
      display:flex;
    }

    #title{
        font-weight: 700;
        font-size: 100px;
        text-align:center;
        color:rgb(0, 0, 0);
        font-family: 'Great Vibes', cursive;
        margin-bottom: 0px;
    }
  
    .footer {
      grid-area: footer;
      position:absolute;
      bottom:0;
      width:100%;
      display:fixed;
      border-top: 2px solid black;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 20% 60%;
      grid-template-areas:
      "header header header"
      "content content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
    }
  
  
  .box {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 0px;
    padding: 10px;
    font-size: 150%;
  }

  #statement-grid{
    background-color: rgb(185, 185, 185);
    color: black;
    display:grid;
    width: 400px;
    height: 550px;
    margin-left: 600px;
    margin-top: 20px;
    padding: 10px;
  }

  
  #opening-header{
    font-family:'Great Vibes', cursive;
    font-size: 35px;
    text-align: center;
  }

  .main-page-opener{
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .header,
  .footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
  }

  #email{
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

.airheads-image-1{
  width: 300px;
  display:grid;
  position:absolute;
  margin-left: 20px;
  margin-top: 40px;
}

.airheads-image-2 {
  width: 250px;
  display:grid;
  position:absolute;
  margin-left: 335px;
  margin-top: 40px;
}

.airheads-image-3{
  width: 250px;
  display:grid;
  position:absolute;
  margin-left: 1100px;
  margin-top: 280px;
}

.airheads-image-4{
  width: 450px;
  display:grid;
  position:absolute;
  margin-left: 1100px;
  margin-top: 60px;
}